In [3]:
import pandas as pd

In [4]:
def str_cut(a):
    return a[:4]

In [12]:
df = pd.read_csv('./DL_FIRE_M-C61_426750/fire_archive_M-C61_426750.csv')
df2 = pd.read_csv('./DL_FIRE_M-C61_426750/fire_nrt_M-C61_426750.csv')

In [13]:
df['year'] = df['acq_date'].apply(str_cut)
df2['year'] = df2['acq_date'].apply(str_cut)
df2.head()

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,year
0,33.41957,-110.86527,337.11,1.28,1.12,2023-02-01,457,Terra,MODIS,100,6.1NRT,277.00,63.34,N,2023
1,39.01343,-78.35137,302.35,2.09,1.41,2023-02-01,1520,Terra,MODIS,52,6.1NRT,275.11,26.65,D,2023
2,28.70231,-82.02740,316.50,2.78,1.59,2023-02-01,1522,Terra,MODIS,66,6.1NRT,294.86,47.93,D,2023
3,26.67987,-80.58160,312.51,2.06,1.40,2023-02-01,1524,Terra,MODIS,48,6.1NRT,295.06,14.41,D,2023
4,26.98986,-80.41743,312.04,2.02,1.39,2023-02-01,1524,Terra,MODIS,63,6.1NRT,295.05,18.34,D,2023

In [75]:
df_2010 = df.where(df['year'] == '2010')
df_2010.dropna(inplace = True)
df_2010.to_csv('./DL_FIRE_M-C61_426750/fire_data_2010.csv')
df_2010.size

1573152

In [76]:
df_2011 = df.where(df['year'] == '2011')
df_2011.dropna(inplace = True)
df_2011.to_csv('./DL_FIRE_M-C61_426750/fire_data_2011.csv')
df_2011.size

1981872

In [77]:
df_2012 = df.where(df['year'] == '2012')
df_2012.dropna(inplace = True)
df_2012.to_csv('./DL_FIRE_M-C61_426750/fire_data_2012.csv')
df_2012.size

2196720

In [78]:
df_2013 = df.where(df['year'] == '2013')
df_2013.dropna(inplace = True)
df_2013.to_csv('./DL_FIRE_M-C61_426750/fire_data_2013.csv')
df_2013.size

1637568

In [79]:
df_2014 = df.where(df['year'] == '2014')
df_2014.dropna(inplace = True)
df_2014.to_csv('./DL_FIRE_M-C61_426750/fire_data_2014.csv')
df_2014.size

1581936

In [80]:
df_2015 = df.where(df['year'] == '2015')
df_2015.dropna(inplace = True)
df_2015.to_csv('./DL_FIRE_M-C61_426750/fire_data_2015.csv')
df_2015.size

2351744

In [81]:
df_2016 = df.where(df['year'] == '2016')
df_2016.dropna(inplace = True)
df_2016.to_csv('./DL_FIRE_M-C61_426750/fire_data_2016.csv')
df_2016.size

1803776

In [82]:
df_2017 = df.where(df['year'] == '2017')
df_2017.dropna(inplace = True)
df_2017.to_csv('./DL_FIRE_M-C61_426750/fire_data_2017.csv')
df_2017.size

2443232

In [83]:
df_2018 = df.where(df['year'] == '2018')
df_2018.dropna(inplace = True)
df_2018.to_csv('./DL_FIRE_M-C61_426750/fire_data_2018.csv')
df_2018.size

2095776

In [84]:
df_2019 = df.where(df['year'] == '2019')
df_2019.dropna(inplace = True)
df_2019.to_csv('./DL_FIRE_M-C61_426750/fire_data_2019.csv')
df_2019.size

1715408

In [85]:
df_2020 = df.where(df['year'] == '2020')
df_2020.dropna(inplace = True)
df_2020.to_csv('./DL_FIRE_M-C61_426750/fire_data_2020.csv')
df_2020.size

2461568

In [7]:
df_2021 = df.where(df['year'] == '2021')
df_2021.dropna(inplace = True)
df_2021.to_csv('./DL_FIRE_M-C61_426750/fire_data_2021.csv')
df_2021.size

2618992

In [8]:
df_2022 = df.where(df['year'] == '2022')
df_2022.dropna(inplace = True)
df_2022.to_csv('./DL_FIRE_M-C61_426750/fire_data_2022.csv')
df_2022.size

2085728

In [32]:
df_2023_1 = df.where(df['year'] == '2023')
df_2023_1.dropna(inplace = True)
df_2023_1.size

71104

In [33]:
df_2023_2 = df2.where(df2['year'] == '2023')
df_2023_2.dropna(inplace = True)
df_2023_2.size

1341465

In [35]:
df_2023 = pd.concat([df_2023_1, df_2023_2], ignore_index=True)
len(df_2023)

93875

In [31]:
print(1341465+71104)

1412569

In [26]:
df_2023[71103:71109]

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type,year
71103,40.76364,-81.43148,305.50,1.00,1.00,2023-10-04,746.0,Aqua,MODIS,65.0,6.1NRT,287.20,8.23,N,NaN,2023
71104,54.78302,-163.93991,311.81,1.17,1.07,2023-10-04,826.0,Terra,MODIS,83.0,6.1NRT,271.37,19.96,N,NaN,2023
71105,54.77134,-163.95735,300.92,1.16,1.07,2023-10-04,826.0,Terra,MODIS,24.0,6.1NRT,274.74,11.23,N,NaN,2023
71106,54.75950,-163.97636,318.95,1.16,1.07,2023-10-04,826.0,Terra,MODIS,93.0,6.1NRT,275.32,26.74,N,NaN,2023
71107,54.76156,-163.95735,343.96,1.16,1.07,2023-10-04,826.0,Terra,MODIS,100.0,6.1NRT,286.68,68.81,N,NaN,2023
71108,19.41239,-155.27553,310.31,1.86,1.33,2023-10-04,1249.0,Aqua,MODIS,70.0,6.1NRT,296.33,29.67,N,NaN,2023